pipeline:
  id: "benchmark-profile-gpu"
  user_id: "<YOUR_USER_ID>"
  app_id: "<YOUR_APP_ID>"
  step_directories:
    - gpu-profile-benchmark-ps
  orchestration_spec:
    argo_orchestration_spec: |
      apiVersion: argoproj.io/v1alpha1
      kind: Workflow
      metadata:
        generateName: benchmark-profile-gpu
      spec:
        entrypoint: sequence
        arguments:
          parameters:
            - name: user_id
              value: "<YOUR_USER_ID>"
            - name: app_id
              value: "<YOUR_APP_ID>"
            - name: n_warmup_requests
              value: 5
        templates:
        - name: sequence
          steps:
          - - name: gpu-profile-benchmark-ps-name
              templateRef:
                name: users/<YOUR_USER_ID>/apps/<YOUR_APP_ID>/pipeline_steps/gpu-profile-benchmark-ps
                template: users/<YOUR_USER_ID>/apps/<YOUR_APP_ID>/pipeline_steps/gpu-profile-benchmark-ps
              arguments:
                parameters:
                  - name: user_id
                    value: "{{workflow.parameters.user_id}}"
                  - name: app_id
                    value: "{{workflow.parameters.app_id}}"
                  - name: n_warmup_requests
                    value: "{{workflow.parameters.n_warmup_requests}}"
