pipeline:
  id: "<YOUR_PIPELINE_ID>"
  user_id: "<YOUR_USER_ID>"
  app_id: "<YOUR_APP_ID>"
  step_directories:
    - model-version-train-ps
  orchestration_spec:
    argo_orchestration_spec: |
      apiVersion: argoproj.io/v1alpha1
      kind: Workflow
      metadata:
        generateName: <YOUR_PIPELINE_ID>
      spec:
        entrypoint: sequence
        arguments:
          parameters:
