pipeline_step:
  id: "model-version-train-ps"
  user_id: "<YOUR_USER_ID>"
  app_id: "<YOUR_APP_ID>"

pipeline_step_input_params:

build_info:
  python_version: "3.11"
  platform: "linux/amd64"

pipeline_step_compute_info:
  cpu_limit: "4000m"
  cpu_memory: "16Gi"
  num_accelerators: 1
  accelerator_memory: "16Gi"
  accelerator_type: ["NVIDIA-*"]
