pipeline:
  id: "<YOUR_PIPELINE_ID>"
  user_id: "<YOUR_USER_ID>"
  app_id: "<YOUR_APP_ID>"
  step_directories:
    - model-version-train-ps
  orchestration_spec:
    argo_orchestration_spec: |
      apiVersion: argoproj.io/v1alpha1
      kind: Workflow
      metadata:
        generateName: <YOUR_PIPELINE_ID>
      spec:
        entrypoint: sequence
        arguments:
          parameters:
            - name: user_id
              value: "<YOUR_USER_ID>"
            - name: app_id
              value: "<YOUR_APP_ID>"
            - name: model_id
              value: "test_model"
            - name: dataset_id
              value: "<YOUR_DATASET_ID>"
            - name: num_classes
              value: 4
            - name: num_epochs
              value: 200
            - name: batch_size
              value: 64
            - name: image_size
              value: 224
            - name: per_item_lrate
              value: 0.00001953125
            - name: weight_decay
              value: 0.01
            - name: per_item_min_lrate
              value: 1.5625e-8
            - name: warmup_iters
              value: 5
            - name: warmup_ratio
              value: 0.0001
            - name: flip_probability
              value: 0.5
            - name: flip_direction
              value: "horizontal"
            - name: concepts_mutually_exclusive
              value: false
            - name: pretrained_weights
              value: "ImageNet-1k"
            - name: seed
              value: -1
            - name: is_cpu
              value: 0
            - name: num_gpus
              value: 1
            - name: model_type
              value: "image-classification"
            - name: concepts
              value: '["beignets","hamburger","prime_rib","ramen"]'
        templates:
        - name: sequence
          steps:
          - - name: model-version-train-ps-name
              templateRef:
                name: users/<YOUR_USER_ID>/apps/<YOUR_APP_ID>/pipeline_steps/model-version-train-ps
                template: users/<YOUR_USER_ID>/apps/<YOUR_APP_ID>/pipeline_steps/model-version-train-ps
              arguments:
                parameters:
                  - name: user_id
                    value: "{{workflow.parameters.user_id}}"
                  - name: app_id
                    value: "{{workflow.parameters.app_id}}"
                  - name: model_id
                    value: "{{workflow.parameters.model_id}}"
                  - name: dataset_id
                    value: "{{workflow.parameters.dataset_id}}"
                  - name: num_classes
                    value: "{{workflow.parameters.num_classes}}"
                  - name: num_epochs
                    value: "{{workflow.parameters.num_epochs}}"
                  - name: batch_size
                    value: "{{workflow.parameters.batch_size}}"
                  - name: image_size
                    value: "{{workflow.parameters.image_size}}"
                  - name: per_item_lrate
                    value: "{{workflow.parameters.per_item_lrate}}"
                  - name: weight_decay
                    value: "{{workflow.parameters.weight_decay}}"
                  - name: per_item_min_lrate
                    value: "{{workflow.parameters.per_item_min_lrate}}"
                  - name: warmup_iters
                    value: "{{workflow.parameters.warmup_iters}}"
                  - name: warmup_ratio
                    value: "{{workflow.parameters.warmup_ratio}}"
                  - name: flip_probability
                    value: "{{workflow.parameters.flip_probability}}"
                  - name: flip_direction
                    value: "{{workflow.parameters.flip_direction}}"
                  - name: concepts_mutually_exclusive
                    value: "{{workflow.parameters.concepts_mutually_exclusive}}"
                  - name: pretrained_weights
                    value: "{{workflow.parameters.pretrained_weights}}"
                  - name: seed
                    value: "{{workflow.parameters.seed}}"
                  - name: is_cpu
                    value: "{{workflow.parameters.is_cpu}}"
                  - name: num_gpus
                    value: "{{workflow.parameters.num_gpus}}"
                  - name: model_type
                    value: "{{workflow.parameters.model_type}}"
                  - name: concepts
                    value: "{{workflow.parameters.concepts}}"

